<div class="variety">
  <h1>The Best Places to Sweat in D.C.</h1>
  <h2>Everything you need to find the best workout for you!</h2>
    <% @workouts.each do |workout| %>
    <div class="workout">
      <h3><%= link_to workout.name, workout %></h3>
    </div>
    <% end %>
</div>
