<h1><%= @workout.name %></h1>

<h3>Add a Studio<%= link_to "(+)", new_workout_place_path( @workout ) %></h3>

<% @workout.places.each do |place| %>
  <div class="place">
    <h2><%= place.name %></h2>
    <%= image_tag place.img_url %>
  </div>
<% end %>
