<h1><%= @place.name %></h1>
<h2><%= @place.workout.name %></h2>
<h3>Make sure you don't forget to bring:
  <%= @place.workout.equipment %></h3>
<div class="place">
  <%= image_tag @place.img_url %>

</div>
