<!DOCTYPE html>
<html>
<head>
  <title>DcGuide</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <li><a href="workouts#index"></a>Types of Workouts</li>
    <li><a href="workouts#workouts"></a>Places to Workout</li>
    <li><a href="workouts#contact"></a>Tell Us More</li>
  </nav>
<%= yield %>

</body>
</html>
